@font-face {
    font-family: Press Start 2P;
    src: url('PressStart2P.ttf');
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;
    -fx-text-color: white;
    -fx-background-color:transparent;
}

.button:hover {
	-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.label {
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-color: white;
}


